<% errors.forEach(function(messages){%>
    <div class="alert text-center bg-danger text-white"><%= messages %></div>
  <%})%>
  <% success.forEach(function(messages){%>
    <div class="alert text-center bg-success text-white"><%= messages %></div>
  <%})%>